*{
    color: #ffffff;
    background-color: black;
    position:relative;
}

.samson_site{
    width: 1140px;
    position:absolute; 
    left:50%; 
    transform:translate(-50%);

    }


.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
ul{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;

}


li{
   float: left;
   list-style: none;
   margin-right: 40px;
   
}
ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}


.logo{
    margin-right: 64px;
    display: flex;
    justify-content: space-between;
}
.contents{
    
    display: flex;
    float: left;
    margin-left: 64px;
    margin-top: 72px;
    flex-wrap: wrap;
  
}
.card{
    width: 259px;
    height: 365px;
   

    
}
.card:hover .image{
    transform: scale(1.1);
    transition: ease-out;

}
.card h2{
    font-size:20px;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 0;

    
}
.card p{
    font-size: 12px;
    font-weight:600;
    line-height: 18px;
    margin-top: 0;
    
}
.card .image{
    position: relative;
}
.info{
    position: absolute;
    transition: ease-out 1s;
    bottom:118px;
    left: -14px;
    opacity: 0;
    width: 325px;
    
   
}
.card:hover .info{
    opacity:1;
    transition: ease-out 1s;

}

